.portfolio {
  display: flex;
  height: 87vh;
  width: 100%;
  padding-top: 3vh;
}

.left,
.right {
  flex: 1;
  padding: 30px;
  display: block;
  text-align: center;
  width: 600px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.app {
  color: rgb(39, 138, 184);
  font-size: 30px;
}

.img {
  height: 550px;
  width: 350px;
  display: block;
  margin: auto;
}

.desc {
  width: 400px;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 14px;
  color: #888;
}
