.portfolio {
  display: flex;
  height: 87vh;
  width: 100%;
  padding-top: 2vh;
}

.left,
.right {
  flex: 1;
  padding: 30px;
  display: block;
  text-align: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.app {
  color: rgb(55, 82, 141);
}

.img {
  height: 550px;
  width: 350px;
  display: block;
  margin: auto;
}
